<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{$title|default="静影探风"}</title>
    {css href="/static/css/bootstrap.min.css" /}
    {css href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" /}
    {js href="/static/js/jquery-3.2.1.min.js" /}
    {js href="/static/js/bootstrap.min.js" /}
    {js href="/static/js/nicEdit.js" /}
    {js href="/static/js/echarts.min.js" /}
    {js href="/static/js/dialog/dialog.js" /}
    {js href="/static/js/dialog/dialog/layer.js" /}
    <style>
        #modal-body img{
            max-width: 100%;
            width: 100%;
        }
        nav img{
            max-width: 100%;
            width: 100%;
        }

    </style>
</head>
<body>
<div class="container">